# Intermediate Machine Learning- Introduction

In [22]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

## Data

In [16]:
X = pd.read_csv('train.csv', index_col='Id', usecols=['Id','LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd'])
X_test = pd.read_csv('test.csv', index_col='Id', usecols=['Id','LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd'])
y = pd.read_csv('train.csv', index_col='Id', usecols=['Id','SalePrice'])

print(X.shape, X_test.shape)
print(y.shape)

(1460, 7) (1459, 7)
(1460, 1)

In [15]:
X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
Id,,,,,,,
1,8450,2003,856,854,2,3,8
2,9600,1976,1262,0,2,3,6
3,11250,2001,920,866,2,3,6
4,9550,1915,961,756,1,3,7
5,14260,2000,1145,1053,2,4,9

In [58]:
print(X.info())
X.describe(include='all').T

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 1 to 1460
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1460 non-null   int64
 1   YearBuilt     1460 non-null   int64
 2   1stFlrSF      1460 non-null   int64
 3   2ndFlrSF      1460 non-null   int64
 4   FullBath      1460 non-null   int64
 5   BedroomAbvGr  1460 non-null   int64
 6   TotRmsAbvGrd  1460 non-null   int64
dtypes: int64(7)
memory usage: 91.2 KB
None

,count,mean,std,min,25%,50%,75%,max
LotArea,1460.0,10516.828082,9981.264932,1300.0,7553.5,9478.5,11601.50,215245.0
YearBuilt,1460.0,1971.267808,30.202904,1872.0,1954.0,1973.0,2000.00,2010.0
1stFlrSF,1460.0,1162.626712,386.587738,334.0,882.0,1087.0,1391.25,4692.0
2ndFlrSF,1460.0,346.992466,436.528436,0.0,0.0,0.0,728.00,2065.0
FullBath,1460.0,1.565068,0.550916,0.0,1.0,2.0,2.00,3.0
BedroomAbvGr,1460.0,2.866438,0.815778,0.0,2.0,3.0,3.00,8.0
TotRmsAbvGrd,1460.0,6.517808,1.625393,2.0,5.0,6.0,7.00,14.0

In [59]:
print(y.info())
y.describe(include='all').T

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 1 to 1460
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SalePrice  1460 non-null   int64
dtypes: int64(1)
memory usage: 22.8 KB
None

,count,mean,std,min,25%,50%,75%,max
SalePrice,1460.0,180921.19589,79442.502883,34900.0,129975.0,163000.0,214000.0,755000.0

In [17]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,random_state=0)

print(f"train: X-> {X_train.shape}, y-> {y_train.shape}")
print(f"valid: X-> {X_valid.shape}, y-> {y_valid.shape}")

train: X-> (1168, 7), y-> (1168, 1)
valid: X-> (292, 7), y-> (292, 1)

## Model - selecting

In [20]:
model_1 = RandomForestRegressor(n_estimators=50, random_state=0)
model_2 = RandomForestRegressor(n_estimators=100, random_state=0)
model_3 = RandomForestRegressor(n_estimators=100, criterion='absolute_error', random_state=0)
model_4 = RandomForestRegressor(n_estimators=200, min_samples_split=20, random_state=0)
model_5 = RandomForestRegressor(n_estimators=100, max_depth=7, random_state=0)

models = [model_1, model_2, model_3, model_4, model_5]

In [30]:
def score_model(model, X_t=X_train, X_v=X_valid, y_t=y_train, y_v=y_valid):
    model.fit(X_t, y_t)
    preds = model.predict(X_v)
    return mean_absolute_error(y_v, preds)

list_mae = {}
for i in range(0, len(models)):
    mae = score_model(models[i])
    list_mae[i+1] = mae
    print("Model %d MAE: %d" % (i+1, mae))

C:\Users\mjuli\AppData\Local\Temp\ipykernel_1660\3568462911.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_t, y_t)
C:\Users\mjuli\AppData\Local\Temp\ipykernel_1660\3568462911.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_t, y_t)

Model 1 MAE: 24015
Model 2 MAE: 23740

C:\Users\mjuli\AppData\Local\Temp\ipykernel_1660\3568462911.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_t, y_t)

Model 3 MAE: 23528

C:\Users\mjuli\AppData\Local\Temp\ipykernel_1660\3568462911.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_t, y_t)

Model 4 MAE: 23996

C:\Users\mjuli\AppData\Local\Temp\ipykernel_1660\3568462911.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_t, y_t)

Model 5 MAE: 23706

In [31]:
list_mae

{1: 24015.492818003917,
 2: 23740.979228636657,
 3: 23528.78421232877,
 4: 23996.676789668687,
 5: 23706.672864217904}

Modelo 3 Ã© o melhor (menor MAE)

## Making the model better

In [55]:
best_model = RandomForestRegressor(n_estimators=80, criterion='absolute_error', random_state=0, min_samples_split=2, max_depth=10)
mae = score_model(best_model)
mae

C:\Users\mjuli\AppData\Local\Temp\ipykernel_1660\3568462911.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_t, y_t)

23175.490368150684