In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [16]:
X = pd.read_csv('train.csv', index_col='Id', usecols=['Id','LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd'])
X_test = pd.read_csv('test.csv', index_col='Id', usecols=['Id','LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd'])
y = pd.read_csv('train.csv', index_col='Id', usecols=['Id','SalePrice'])

print(X.shape, X_test.shape)
print(y.shape)

(1460, 7) (1459, 7)
(1460, 1)

In [15]:
X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
Id,,,,,,,
1,8450,2003,856,854,2,3,8
2,9600,1976,1262,0,2,3,6
3,11250,2001,920,866,2,3,6
4,9550,1915,961,756,1,3,7
5,14260,2000,1145,1053,2,4,9

In [17]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,random_state=0)

print(f"train: X-> {X_train.shape}, y-> {y_train.shape}")
print(f"valid: X-> {X_valid.shape}, y-> {y_valid.shape}")

train: X-> (1168, 7), y-> (1168, 1)
valid: X-> (292, 7), y-> (292, 1)